// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a[href="/statuses/new"] {
	margin-bottom: 20px;
	float: left;
	display: block;
	width: 100%;
}

.span2 {
	display: block;
	width: 100%;
}

.span2 > a{
	width: 200px;
}

.status:first-child{
	clear: left;
}

.status {
	border-bottom: solid 1px #ccc;
	padding: 5px 0;
	margin: 20px 0;
	margin-right: 25px;
	padding: 10px;
	width: 265px;
	float: left;
}

.status img {
	float: left;
	margin: 0 15px 15px 0;
}

.status.hover {
	background: #F0F0F0;
}

.status strong {
	font-size: 20px;
}

.status p {
	margin: 4px 0;
}

.status .user_admin {
	display: none;
}

.status.hover .user_admin {
	display: inline;
}

div[class="control-group text required status_content"] {
	padding: 0;
}

div[class="control-group text required status_content"] .newStatus {
	margin-left: -180px;
}

.newStatus {
	height: 100px;
	width: 100%;
	float: left;
	margin: 0;
}

input[name="commit"] {
	width: 100px;
}



